#types-container {
    background-color: lightgray;
}

#types-container img {
    width: 300px;
}

#acoustic {
    float: left;
    width: 50%;
    text-align: center;
    border-right: 1px solid black;
}

#electric {
    float: right;
    width: 49%;
    text-align: center;
}

.clear-float {
    clear: both;
}